{
    "twitter_username" : "PASTE-THE-TWITTER-USERNAME-HERE",
    "twitter_apikey" : "PASTE-THE-TWITTER-API-KEY-HERE",
    "twitter_api_secret" : "PASTE-THE-TWITTER-API-SECRET-HERE",
    "telegram_channel" : "PASTE-THE-TELEGRAM-CHANNEL-USERNAME-HERE",
    "telegram_bot_apikey" : "PASTE-THE-TELEGRAM-BOT-API-KEY-HERE",
    "seek_rate" : 2,
    "max_rollback" : 200,
    "ratelimit_wait" : 16,
    "welcome_text" : "WRITE-A-WELCOME-MESSAGE-FOR-ANYONE-WHO-STARTS-THE-TELEGRAM-BOT",
    "tweet_format" : "{text}\n{url}\n{time}\n",
    "reply_format" : "\u21aa <b>{mentions}</b>\n{text}\n{url}\n{time}\n",
    "retweet_format" : "\ud83d\udd01  <b>{username}{mentions}</b>\n{text}\n{url}\n{time}\n"
}
